@use "models";

#configuration-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .btn-back {
    background-color: transparent;
    box-shadow: none;
    margin-right: auto;
    margin-top: 1rem;
  }

  .configuration {
    max-width: 48rem;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}

.configuration {
  display: flex;
  width: 100%;
  background-color: var(--query-editor-bg);

  nav {
    width: 9rem;
    padding: 1rem;
    flex-shrink: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-button {
    width: 100%;
    box-shadow: none;
    text-align: left;
    height: 2rem;
    justify-content: flex-start;
    background-color: transparent;

    &:hover {
      background-color: rgb(from var(--theme-base) r g b / 3.5%);
    }

    &.active {
      background-color: rgb(from var(--theme-base) r g b / 10%);
    }
  }

  .content {
    padding: 1rem;
    flex-grow: 1;
    min-width: 0;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      padding-bottom: 2rem;
    }
  }
}
