@use "models";
@use "general";
@use "about";

#configuration-popover {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &:not(.active) {
    display: none;
  }
}

.configuration {
  --config-bg-hover: color-mix(
    in srgb,
    var(--theme-base) 3.5%,
    var(--theme-bg)
  );

  .p-dialog-content {
    padding-top: 1.75rem;
    display: flex;
    width: 40rem;
    max-width: 100%;
    height: 90vh;
    max-height: 46rem;
  }

  nav {
    width: 9rem;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-btn {
    width: 100%;
    box-shadow: none;
    text-align: left;
    height: 2rem;
    justify-content: flex-start;
    background-color: transparent;

    &:hover {
      background-color: var(--config-bg-hover);
    }

    &.active {
      background-color: rgb(from var(--theme-base) r g b / 10%);
    }

    &.close-btn {
      padding: 0;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      min-width: 0;
      margin-top: -0.25rem;
    }
  }

  .content {
    flex-grow: 1;
    min-width: 0;
    overflow-y: scroll;

    > :first-child {
      margin-top: 0;
      margin-bottom: 0.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    p:not(.helper),
    li,
    .form-group {
      padding-inline: 0.5rem;
    }

    h2 {
      margin-bottom: 0;
      font-size: 1.09375rem;
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 0.75rem;
      font-size: 0.875rem;
    }

    h2,
    h3 {
      color: var(--text-dark);
    }

    p:not(.alert) {
      font-size: 0.831rem;
      margin-bottom: 0.25rem;
    }

    .form-group {
      padding-block: 0.5rem;
      border-radius: 8px;

      &:hover {
        background-color: var(--config-bg-hover);
      }
    }
  }
}
