@use "models";

#configuration-popover {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &:not(.active) {
    display: none;
  }
}

.configuration {
  --config-bg-hover: color-mix(
    in srgb,
    var(--theme-base) 2%,
    var(--theme-bg)
  );

  .p-dialog-content {
    padding-top: 1.75rem;
    display: flex;
    width: 40rem;
    max-width: 100%;
    height: 90vh;
    max-height: 46rem;
  }

  nav {
    width: 9rem;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-btn {
    width: 100%;
    box-shadow: none;
    text-align: left;
    justify-content: flex-start;
    background-color: transparent;
    font-weight: normal;
    font-size: 0.831rem;
    color: rgb(from var(--theme-base) r g b / 0.77);
    padding-inline: 0.75rem;
    border-radius: 6px;

    &:hover {
      background-color: var(--config-bg-hover);
    }

    &.active {
      background-color: rgb(from var(--theme-base) r g b / 10%);
    }

    &.close-btn {
      padding: 0;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      min-width: 0;
      margin-top: -0.25rem;
    }
  }

  .content {
    flex-grow: 1;
    min-width: 0;
    overflow-y: scroll;

    > :first-child {
      margin-top: 0;
      margin-bottom: 0.4rem;
    }

    h1,
    h2,
    h3,
    h4,
    p.description,
    li,
    .form-group {
      padding-inline: 0.5rem;
    }

    h2 {
      margin-bottom: 0;
      font-size: 1.1rem;
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 0.75rem;
      font-size: 0.831rem;
    }

    h2,
    h3 {
      color: var(--text-dark);
    }

    p.description {
      margin-bottom: 0.25rem;
      font-size: 0.831rem;
    }

    hr {
      border-color: var(--border-color);
      margin-inline: 0.5rem;
      border-bottom: none;
    }

    .form-group {
      padding-block: 0.5rem;
      border-radius: 6px;

      &.switch .helper,
      label {
        padding-left: 0;
      }

      &:hover {
        background-color: var(--config-bg-hover);
      }
    }

    .alert {
      margin-inline: 0.5rem;
    }
  }
}
