.configuration .content.models {
  .model-list {
    flex-grow: 1;
  }

  .model {
    border-radius: 8px;

    &.available label {
      cursor: pointer;
    }

    label {
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      background-color: var(--config-bg-hover);
    }
  }

  .switch {
    font-size: 0.45rem;
  }

  .model-list .model {
    position: relative;

    .delete-btn {
      position: absolute;
      top: 0;
      right: 2.5rem;
      background-color: transparent;
      min-width: 0;
      height: 1.4rem;
      width: 1.4rem;
      padding: 0;
      border-radius: 9999px;
      color: var(--text-dark);

      span {
        font-size: 1rem;
      }
    }
  }
}
