.base-input {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  text-align: left;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;

    input,
    textarea {
      background-color: var(--query-editor-bg);
      border: 1px solid var(--border-color);
      border-radius: 8px;
      padding: 0.5rem 0.75rem;
      font-size: 0.9rem;
      color: var(--text-dark);
    }
  }

  .helper {
    font-size: 0.75rem;
    color: var(--text-dark);
    opacity: 0.7;
  }

  &.textarea .input-wrapper {
    align-items: stretch;
    display: grid;

    &::after,
    textarea {
      width: auto;
      min-width: 1rem;
      grid-area: 2 / 1;
      font: inherit;
      padding: 0.5rem 0.75rem;
      margin: 0;
      resize: none;
      background: none;
      appearance: none;
    }

    &::after {
      content: attr(data-value) " ";
      visibility: hidden;
      white-space: pre-wrap;
    }
  }
}
