.form-group {
  // overflow: auto;
  text-align: left;

  .helper {
    font-size: 0.727rem; // FIXME should be 0.75rem
    color: var(--text-light);
    opacity: 0.7;
    margin: 0;
    padding: 0 0.2rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;

    textarea {
      height: auto;
    }
  }

  &.textarea .input-wrapper {
    align-items: stretch;
    display: grid;

    textarea {
      width: auto;
      min-width: 1rem;
      grid-area: 2 / 1;
      padding: 0.5rem 0.75rem;
      margin: 0;
      resize: vertical;
    }
  }

  &.switch {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;

    label {
      margin-right: 0.5rem;
      user-select: none;
    }

    .helper {
      grid-column: 1;
    }

    .input-wrapper {
      grid-column: 2;
      grid-row: 1 / span 2;
      display: flex;
      align-items: flex-end;
    }

    button {
      position: relative;
      display: inline-block;
      width: 2.6em;
      height: 1.5em;
      background-color: transparent;
      border: none;

      &[aria-checked="true"] .slider {
        background-color: rgb(from var(--theme-primary) r g b / 60%);
      }

      &[aria-checked="true"] .slider:before {
        transform: translateX(1em);
      }

      &:focus-visible {
        outline: var(--focus-visible-outline);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(from var(--theme-base) r g b / 30%);
      -webkit-transition: 0.15s;
      transition: 0.15s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 1em;
      width: 1em;
      left: 0.3em;
      bottom: 0.25em;
      background-color: var(--text);
      -webkit-transition: 0.15s;
      transition: 0.15s;
    }

    /* Rounded sliders */
    .slider.round,
    .slider.round:before {
      border-radius: 9999px;
    }
  }
}
