$input-height:              26px;
$btn-border-radius:         8px;

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-family: inherit;
  line-height: $input-height;
  height: $input-height;
  font-weight: 700;
  outline: 0;
  border: 0;
  padding: 0 1rem;
  min-width: 88px;
  box-shadow: inset 0 0 0 1px rgba(white, 0.025);
  border-radius: $btn-border-radius;
  transition: background 0.15s ease-in-out,
    color 0.15s ease-in-out;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    font-weight: 700;
    outline: 0;
    border: 0;
    box-shadow: none;
  }

  &:focus-visible {
    outline-style: solid;
    outline-offset: 0.14rem;
    outline-width: 2px;
    outline-color: var(--theme-base);
  }

  &.btn-icon {
    display: flex;
    align-items: center;

    i {
      font-size: 1rem;
      margin-left: -3px;
    }
  }
}

.btn-primary {
  background-color: var(--theme-base);
  color: rgb(from var(--theme-bg) r g b / 87%);
  transition: background-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    background-color: rgb(from var(--theme-base) r g b / 87%);
    color: var(--theme-bg);
  }
}
