.message {
  .message-actions {
    display: flex;
    margin-top: 0.5rem;

    .btn {
      min-width: 0;
      padding: 0;
      width: 1.75rem;
      height: 1.75rem;
      border: none;
      border-radius: 9999px;
      box-shadow: none;

      .material-symbols-outlined {
        font-size: 1rem;
      }
    }

    .copy-btn {
      &.copied .copy-label,
      &.copied .copy-icon,
      &:not(.copied) .copied-label,
      &:not(.copied) .copied-icon {
        display: none;
      }
    }
  }

  &.assistant {
    table tbody tr:nth-child(odd) {
      background-color: color-mix(in srgb, var(--theme-base) 3%, var(--query-editor-bg));
    }

    .message-actions {
      padding-left: 0.4rem;
    }
  }

  &.user .message-actions {
    margin-top: 0.5rem;
    justify-content: flex-end;
  }

  code {
    font-size: 0.8rem;
  }

  .message-content .code-block .actions .btn {
    gap: 0.25rem;
    min-width: 1.75rem;
    padding-inline: 0.4rem;
    width: auto;
    font-weight: normal;
  }

  .message-content.literally-empty {
    font-style: italic;
    --theme-text-message-system: var(--text-muted);
  }
}
