.message {
  .message-actions {
    display: flex;
    margin-top: 0.5rem;

    .btn {
      min-width: 0;
      padding: 0;
      width: 1.75rem;
      height: 1.75rem;
      border: none;
      border-radius: 9999px;
      box-shadow: none;

      .material-symbols-outlined {
        font-size: 1rem;
      }
    }

    .copy-btn {
      &.copied .copy-label,
      &.copied .copy-icon,
      &:not(.copied) .copied-label,
      &:not(.copied) .copied-icon {
        display: none;
      }
    }
  }

  &.assistant {
    .preview-table {
      --table-border-color: color-mix(in srgb, var(--border-color) 50%, var(--query-editor-bg));
      border-left: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: var(--table-border-color);
    }

    .preview-table thead {
      border-bottom: 1px solid;
      border-color: var(--table-border-color);
    }

    .preview-table tbody tr:nth-child(odd) {
      background-color: color-mix(in srgb, var(--theme-base) 3%, var(--query-editor-bg));
    }

    .message-actions {
      padding-left: 0.4rem;
    }
  }

  &.user .message-actions {
    margin-top: 0.5rem;
    justify-content: flex-end;
  }
}
