@use "api-key-form";
@use "chat-interface";
@use "configuration/main";

.first-time-user {
  max-width: 20rem;
  text-align: center;

  .actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}

#configuration-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .btn-back {
    background-color: transparent;
    box-shadow: none;
    margin-right: auto;
    margin-top: 1rem;
  }

  .configuration {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}
