.api-key-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;

  .actions {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  button {
    &:disabled {
      opacity: 0.6;
    }
  }

  .form-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .input-wrapper {
      flex-grow: 1;
    }
  }
}

.provider-selection {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;

  select {
    padding: 0.75rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 0.85rem;
    background-color: var(--query-editor-bg);
    color: var(--text-dark);
  }
}
