/* Chat Interface Styles */
.chat-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: var(--theme-bg);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  background-color: var(--theme-bg-chat);
  display: flex;
  flex-direction: column;

  > .spinner {
    padding-inline: 1.8rem;
  }
}

.message {
  padding: 0.6rem 12px;
  border-radius: 16px;
  max-width: 80%;
  word-wrap: break-word;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.75rem 0.9rem;
  line-height: 1.4rem;
  white-space: pre-wrap;

  p,
  pre,
  code {
    margin: 0;
  }

  pre {
    overflow-x: auto;
    display: inline-block;
    background-color: var(--bks-text-editor-bg-color);
    color: var(--bks-text-editor-fg-color);
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
  }

  code[data-lang] {
    &::before {
      content: attr(data-lang);
      display: block;
      font-size: 0.7rem;
      opacity: 0.5;
      line-height: 1.25rem;
    }
  }

  .hljs-keyword {
    color: var(--bks-text-editor-keyword-fg-color);
  }

  .hljs-operator {
    color: var(--bks-text-editor-operator-fg-color);
  }

  .hljs-comment {
    color: var(--bks-text-editor-comment-fg-color);
  }

  .hljs-string {
    color: var(--bks-text-editor-string-fg-color);
  }

  .hljs-title.class_ {
    color: var(--bks-text-editor-class-fg-color);
  }

  .hljs-title.function_ {
    color: var(--bks-text-editor-function-fg-color);
  }

  .hljs-number {
    color: var(--bks-text-editor-number-fg-color);
  }

  .hljs-attr {
    color: var(--bks-text-editor-attributeName-fg-color);
  }

  .hljs-built_in {
    color: var(--bks-text-editor-builtin-fg-color);
  }
}

.message.human {
  align-self: flex-end;

  .message-content {
    border-radius: 1rem;
    background-color: var(--theme-bg-message-user);
    color: var(--text-dark);
    border-bottom-right-radius: 4px;
  }
}

.message.ai,
.message.system {
  max-width: none;

  .message-content {
    color: var(--theme-text-message-system);
  }
}

.message.tool .message-content {
  padding-block: 0;
}

.thinking {
  display: flex;
  gap: 4px;
  padding: 0.9rem 1.2rem;
  margin-left: 1rem;
  background-color: var(--theme-thinking-bg);
  border-radius: 18px;
  align-self: flex-start;
  width: fit-content;
}

.thinking-dot {
  width: 8px;
  height: 8px;
  background-color: var(--theme-thinking-dot);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

.thinking-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.thinking-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

.chat-input-container {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #model-selector {
      padding: 0 0.3rem;
      height: 2rem;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(from var(--theme-base) r g b / 10%);
      }

      &:focus {
        outline: none;
      }
    }

    .submit-btn {
      background-color: transparent;
      color: var(--text-dark);
      padding: 0.5rem;
      display: flex;
      align-items: center;
      border: none;

      &:disabled {
        color: rgb(from var(--text-dark) r g b / 50%);
      }

      span {
        font-variation-settings: "FILL" 1;
        font-size: 1.4rem;
      }
    }
  }
}
