// Copied from Beekeeper Studio
.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;

  label {
    display: flex;
    align-items: center;
    font-size: 0.831rem;
    line-height: 1.5;
    padding: 0 0.2rem;
    margin-bottom: 2px;
  }
}
