@use "theme";
@use "base";
@use "components/all" as components;
@use "pages/all" as pages;
@use "sass:color";

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shell-app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

