@use "theme";
@use "base";
@use "form";
@use "components/all" as components;
@use "pages/all" as pages;
@use "sass:color";
@use "primevue";

@import "@beekeeperstudio/ui-kit/style.css" layer(ui-kit);

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.shell-app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.not-ready {
  width: 100%;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BksTextEditor .cm-scroller,
.BksTextEditor .cm-tooltip.cm-tooltip-autocomplete>ul {
  font-family: var(--font-family-mono, monospace);
}
